<div class="card">
    <div class="imgBx">
      <img src="./assets/img/foto.jpg"/>
    </div>
    <div class="content">
      <div class="details">
        <h2>Harold Llanos<br /><span>HTML & CSS</span></h2>
        <div class="data">
          <h3>53<br /><span>Posts</span></h3>
          <h3>263<br /><span>Followers</span></h3>
          <h3>567<br /><span>Following</span></h3>
        </div>
        <div class="actionBtn">
          <button routerLink="/listar-usuario">Usuario</button>
          <button routerLink="/crear-usuario">Contacto</button>
        </div>
      </div>
    </div>
</div>